.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  padding: 0 1.5rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--grey93);
}

.leftSide {
  display: flex;
  align-items: center;
}

.divider {
  display: block;
  height: 4.5rem;
  width: 1px;
  margin: 0 1.5rem;
  background-color: var(--grey93);
}

.rightSide {
  display: flex;
  align-items: center;
}
