/* PostList */
.postDetails {
  display: flex;
  flex-direction: column;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.35;
  font-weight: 600;
  cursor: pointer;
}

.creatorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.creatorAvatar {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.75rem;
}

.creatorAvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subreddit {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 400;
  color: var(--accent);
}

.creatorDate {
  margin-left: 1.5rem;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 400;
  color: var(--grey75);
}

/* PostPage */
.postDetailsPage {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.creatorInfoPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
}

.titlePage {
  margin: 0;
  font-size: 3.5rem;
  line-height: 1.35;
  font-weight: 600;
  text-align: left;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}
