/* Karma */
.karmaCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 3rem;
}

.karmaUp,
.karmaDown {
  background: none;
  border: none;
}

.karmaCount {
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
}

@media (max-width: 720px) {
  .karmaCounter {
    display: none;
  }
}
