/* PostList */
.box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.divider {
  display: block;
  flex: none;
  height: 7rem;
  width: 2.5rem;
  /* margin: 0 2.5rem; */
  /* background-color: var(--grey93); */
}

.space {
  display: block;
  width: 2.5rem;
}

/* Tile view */
.tileBox {
  display: flex;
  flex-flow: column nowrap;
  padding: 2.5rem;
}

.tileTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.tileLeft {
  display: flex;
  flex-direction: row;
}

.tileDivider {
  display: block;
  flex: none;
  height: 7rem;
  width: 1px;
  margin: 0 2.5rem;
  background-color: var(--grey93);
}

/* PostPage */
.boxPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.topSide {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.dividerPage {
  display: block;
  align-self: stretch;
  width: 1px;
  margin: 0 3.5rem;
  background-color: var(--grey93);
}
