.wrapper {
  height: calc(100vh - 8.5rem);
  overflow-y: hidden;
}

.list {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 6rem;

  height: 100%;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.list::-webkit-scrollbar {
  display: none;
}

.anchorBox {
  position: relative;
}

.anchor {
  position: absolute;
  bottom: 0;

  height: 1000px;
  width: 10px;
}
