.wrapper {
  height: calc(100vh - 8.5rem);
  overflow-y: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  height: 100%;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  position: relative;
  scroll-snap-align: start;
}

.overlay {
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: flex-start;
  gap: 1rem;

  padding: 3rem 1rem 0 1rem;

  background: radial-gradient(100% 100% at 0% 100%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0.25rem;
}

.info {
  display: flex;
  flex-direction: column;

  margin-left: 1rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;

  font-size: 1.25rem;

  color: white;
}

.subreddit {
  margin-top: 0.75rem;
  font-size: 1rem;
}

.divider {
  display: block;
  align-self: stretch;
  width: 1px;
  background-color: white;
  opacity: 0.25;
}
