.heading {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.35;
  font-weight: 700;
}

.list {
  margin-top: 3rem;
  border: 1px solid var(--grey93);
  border-radius: 0.25rem;
}

.divider {
  display: block;
  height: 1px;
  background-color: var(--grey93);
}

/* Placeholder */

.ph_h2 {
  width: 11rem;
  height: 1.75rem;
  background-color: var(--grey93);
  border-radius: 0.25rem;
}

.ph_ul {
  margin-top: 3.75rem;
  border: 1px solid var(--grey93);
  border-radius: 0.25rem;
}

.ph_li {
  display: flex;
  align-items: center;
  padding: 2.5rem;
}

.ph_karma {
  flex: none;
  height: 7rem;
}

.ph_title {
  margin-left: 2.5rem;
  width: 100%;
}

.ph_h3 {
  width: 80%;
  height: 1.5rem;
  background-color: var(--grey93);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.ph_h4 {
  width: 40%;
  height: 1.5rem;
  background-color: var(--grey93);
  border-radius: 0.25rem;
}
