.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.container {
  margin: 5rem 0;
  padding: 0 6rem;
  width: 100%;
  min-width: 20rem;
  max-width: 72rem;
}

@media (max-width: 900px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}
